name: deploy github pages

on:
  push:
    branches:
      - master

jobs:
  deploy-ghpages:
    runs-on: macos-10.15
    steps:
      - uses: actions/checkout@master
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.13.1
      - name: Build
        run: |
          yarn install --frozen-lockfile
          yarn build:gh-page
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./examples/docs/out
